[Desktop Entry]
Name=SeeDesktop
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=seedesktop
Exec=seedesktop %u
Icon=seedesktop
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=seedesktop
